<!DOCTYPE html>
<html>

<head>
  <title>MonBackOffice</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    MonBackOffice
  </h1>
  <p>Welcome to MonBackOffice
  </p>

  <% if (success===true) { %>
    <p>Contact Added successfully !</p>
    <% } %>
      <a href="/add-contact"><button>Add contact</button></a>
      <a href="/contact-list"><button>Show contact list</button></a>

</body>

</html>